<div class="container col-12 col-md-4">
  <p-card>
    <form [formGroup]="pwdResetForm" (ngSubmit)="onSubmit(pwdResetForm)">
      <input
        formControlName="email"
        type="text"
        id="email"
        class="form-control"
        name="email"
        placeholder="Email"
        style="margin-bottom: 5px;"
        pInputText
      />
      <input
        [disabled]="!pwdResetForm.valid"
        type="submit"
        class="btn btn-success float-right"
        value="Submit"
        pInputText
      />
    </form>

    <div id="formFooter">
      <div>
        <a class="underlineHover" href="#/login">Back to login</a>
      </div>
    </div>
  </p-card>
</div>
