<div class="container col-4" style="border: 1px solid #cecece; padding: 25px;">
  <div id="formContent">
    <form [formGroup]="pwdResetForm" (ngSubmit)="onSubmit(pwdResetForm)">
      <input
        formControlName="email"
        type="text"
        id="email"
        class="form-control"
        name="email"
        placeholder="Email"
        style="margin-bottom: 5px;"
      />
      <input
        [disabled]="!pwdResetForm.valid"
        type="submit"
        class="btn btn-success float-right"
        value="Submit"
      />
    </form>

    <div id="formFooter">
      <div>
        <a class="underlineHover" href="#/login">Back to login</a>
      </div>
    </div>
  </div>
</div>
