<div class="container col-12 col-md-4">
  <p-card>
          <h4>Email Update Validation</h4>
          <hr />
          <i class="pi pi-info-circle"></i><i style="font-size: smaller;"> Please enter your password to validate the
            email update request</i>
          <br>
      <div id="formContent">
        <form [formGroup]="emailUpdateForm" (ngSubmit)="onSubmit(emailUpdateForm)">
          <input formControlName="password" type="password" id="password" class="form-control" name="password"
            placeholder="Password" style="margin-bottom: 5px;" pInputText/>
          <input [disabled]="!emailUpdateForm.valid" type="submit" class="btn btn-success float-right" value="Submit" pInputText/>
        </form>
        <div id="formFooter">
          <div>
            <a class="underlineHover" href="#/login">Return to login</a>
          </div>
      </div>
    </div>
  </p-card>
</div>
