<div class="container">
  <div class="col-md-9 mx-auto">
    <div class="mt-1">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Profile</h4>
            <hr />
          </div>
        </div>
        <div id="formContent">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" id="userForm">
            <div class="col-md-12">
              <div class="form-group row">
                <label for="firstName" class="col-4 col-form-label">First Name:</label>
                <div class="col-8">
                  <input formControlName="firstName" type="text" id="password" class="form-control" name="firstName"
                    placeholder="First Name" style="margin-bottom: 5px;" />
                </div>
              </div>
              <div class="form-group row">
                <label for="lastName" class="col-4 col-form-label">Last Name:</label>
                <div class="col-8">
                  <input formControlName="lastName" type="text" id="lastName" class="form-control" name="lastName"
                    placeholder="Last Name" style="margin-bottom: 5px;" />
                </div>
              </div>
              <div class="form-group row">
                <label for="title" class="col-4 col-form-label">Title:</label>
                <div class="col-8">
                  <input formControlName="title" type="text" id="title" class="form-control" name="title"
                    placeholder="Title" style="margin-bottom: 5px;" />
                </div>
              </div>
              <input [disabled]="isEdit ? !userForm.valid : false" type="submit" class="btn btn-primary float-right"
                [value]="isEdit ? 'Update' : 'Edit'" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <br />
    <div class="mt-1">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>User Email Configuration</h4>
            <hr />
          </div>
        </div>
        <div id="formContent">
          <form [formGroup]="emailForm" (ngSubmit)="onEmailFormSubmit(emailForm)" id="emailForm">
            <div class="col-md-12">
              <div class="form-group row">
                <label for="email" class="col-4 col-form-label">Email:</label>
                <div class="col-8">
                  <input formControlName="email" type="email" id="email" class="form-control" name="email"
                    style="margin-bottom: 5px;" />
                </div>
              </div>
              <div *ngIf="isEmailEdit" class="form-group row">
                <label for="newEmail" class="col-4 col-form-label">Confirm New Email:</label>
                <div class="col-8">
                  <input formControlName="newEmail" type="email" id="newEmail" class="form-control" name="newEmail"
                    placeholder="" style="margin-bottom: 5px;" />
                  <span *ngIf="user.newEmail">
                    <i class="pi pi-info-circle"></i><i style="font-size: smaller;"> Please check your email at
                      <strong>{{user?.newEmail}}</strong> to verify the address.
                      To revoke this request, please click this <a [routerLink]=""
                        (click)="revokeUpdateEmailRequest()">link</a></i>
                  </span>
                </div>
              </div>
              <input [disabled]="isEmailEdit ? !emailForm.valid || user.newEmail : false" type="submit"
                class="btn btn-primary float-right" [value]="isEmailEdit ? 'Update' : 'Edit'" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <br />
    <div class="mt-1">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Security</h4>
            <hr />
          </div>
        </div>
        <div id="securityFormContent">
          <form [formGroup]="securityForm" (ngSubmit)="onSecuritySubmit(securityForm)" id="securityForm">
            <div class="col-md-12">
              <div class="form-group row">
                <label for="oldPassword" class="col-4 col-form-label">Old Password:</label>
                <div class="col-8">
                  <input formControlName="oldPassword" type="password" id="oldPassword" class="form-control"
                    name="oldPassword" style="margin-bottom: 5px;" />
                </div>
              </div>
              <div class="form-group row">
                <label for="newPassword" class="col-4 col-form-label">New Password:</label>
                <div class="col-8">
                  <input formControlName="newPassword" type="password" id="newPassword" class="form-control"
                    name="newPassword" style="margin-bottom: 5px;" />
                </div>
              </div>
              <div class="form-group row">
                <label for="confirmNewPassword" class="col-4 col-form-label">Confirm New Password:</label>
                <div class="col-8">
                  <input formControlName="confirmNewPassword" type="password" id="confirmNewPassword"
                    class="form-control" name="confirmNewPassword" style="margin-bottom: 5px;" />
                </div>
              </div>
              <input [disabled]="isSecurityEdit ? !securityForm.valid : false" type="submit"
                class="btn btn-primary float-right" [value]="isSecurityEdit ? 'Update' : 'Edit'" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
