<div class="container-fluid">
  <h4 *ngIf="!assetAry.length">The organization {{ org?.name }} does not have any assets.</h4>
  <p-table #dt [value]="assetAry" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">Organization ID<p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="name">Asset Name<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="jira">Jira Enabled<p-sortIcon field="jira"></p-sortIcon>
        </th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'id', 'equals')"
            placeholder="Search by ID" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'startsWith')"
            placeholder="Search by Name" class="p-column-filter">
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
      <tr>
        <td scope="row">{{ asset?.id }}</td>
        <td>{{ asset?.name }}</td>
        <td>{{asset?.jira?.id ? 'Yes' : 'No'}}</td>
        <td>{{ asset?.status === 'A' ? 'Active':'Archived' }}</td>
        <td>
          <button *ngIf="!isArchive" class="btn btn-secondary" type="button" style="margin-right: 10px;"
            data-toggle="tooltip" (click)="navigateToAsset(asset.id)" c data-placement="bottom" title="Edit Asset">
            <i class="pi pi-pencil"></i>
          </button>
          <button *ngIf="!isArchive" (click)="navigateToAssessment(asset.id)" class="btn btn-primary"
            style="margin-right: 10px;" type="button" data-toggle="tooltip" data-placement="bottom"
            title="View Assessments">
            <i class="pi pi-list"></i>
          </button>
          <button (click)="archiveAsset(asset);" *ngIf="!isArchive" class="btn btn-dark" type="button"
            data-toggle="tooltip" data-placement="bottom" title="Archive">
            <i class="pi pi-folder"></i>
          </button>
          <button (click)="activateAsset(asset);" *ngIf="isArchive" class="btn btn-dark" type="button"
            data-toggle="tooltip" data-placement="bottom" title="Activate">
            <i class="pi pi-folder-open"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br />
  <div class="float-right">
    <button style="margin-right: 5px;" (click)="navigateToDashboard()" type="button" class="btn btn-secondary ">
      Back to Dashboard
    </button>
    <button style="margin-right: 5px;" *ngIf="!isArchive" (click)="getArchivedAssets()" type="button"
      class="btn btn-dark " data-toggle="tooltip" data-placement="bottom" title="View Archived Assets">
      View Archive
    </button>
    <button style="margin-right: 5px;" *ngIf="isArchive" (click)="getActiveAssets()" type="button" class="btn btn-dark "
      data-toggle="tooltip" data-placement="bottom" title="View Active Assets">
      View Active
    </button>
    <button (click)="navigateToCreateAsset()" *ngIf="!isArchive" type="button" class="btn btn-primary ">
      Add Asset
    </button>
  </div>
