<div class="container-fluid">
  <h4 *ngIf="!assetAry.length">The organization {{ org?.name }} does not have any assets.</h4>
  <p-table [value]="assetAry" [paginator]="true" [rows]="10" [filterDelay]="0" [globalFilterFields]="['name']">
    <ng-template pTemplate="caption">
      <div class="table-header">
        List of Cars
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Global Search" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">#<p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="name">Asset Name<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="jira">Jira Enabled<p-sortIcon field="jira"></p-sortIcon>
        </th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
      <tr>
        <td scope="row">{{ asset?.id }}</td>
        <td>{{ asset?.name }}</td>
        <td>{{asset?.jira?.id ? 'Yes' : 'No'}}</td>
        <td>{{ asset?.status === 'A' ? 'Active':'Archived' }}</td>
        <td>
          <button *ngIf="!isArchive" class="btn btn-secondary" type="button" style="margin-right: 10px;"
            data-toggle="tooltip" (click)="navigateToAsset(asset.id)" c data-placement="bottom" title="Edit Asset">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
          </button>
          <button *ngIf="!isArchive" (click)="navigateToAssessment(asset.id)" class="btn btn-primary"
            style="margin-right: 10px;" type="button" data-toggle="tooltip" data-placement="bottom"
            title="View Assessments">
            <fa-icon [icon]="faList"></fa-icon>
          </button>
          <button (click)="archiveAsset(asset);" *ngIf="!isArchive" class="btn btn-dark" type="button"
            data-toggle="tooltip" data-placement="bottom" title="Archive">
            <fa-icon [icon]="faBox"></fa-icon>
          </button>
          <button (click)="activateAsset(asset);" *ngIf="isArchive" class="btn btn-dark" type="button"
            data-toggle="tooltip" data-placement="bottom" title="Activate">
            <fa-icon [icon]="faBoxOpen"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!-- <table class="table" *ngIf="assetAry && assetAry.length">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Asset Name</th>
        <th scope="col">Jira Enabled</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let asset of assetAry">
      <td scope="row">{{ asset?.id }}</td>
      <td>{{ asset?.name }}</td>
      <td>{{asset?.jira?.id ? 'Yes' : 'No'}}</td>
      <td>{{ asset?.status === 'A' ? 'Active':'Archived' }}</td>
      <td>
        <button *ngIf="!isArchive" class="btn btn-secondary" type="button" style="margin-right: 10px;"
          data-toggle="tooltip" (click)="navigateToAsset(asset.id)" c data-placement="bottom" title="Edit Asset">
          <fa-icon [icon]="faPencilAlt"></fa-icon>
        </button>
        <button *ngIf="!isArchive" (click)="navigateToAssessment(asset.id)" class="btn btn-primary"
          style="margin-right: 10px;" type="button" data-toggle="tooltip" data-placement="bottom"
          title="View Assessments">
          <fa-icon [icon]="faList"></fa-icon>
        </button>
        <button (click)="archiveAsset(asset);" *ngIf="!isArchive" class="btn btn-dark" type="button"
          data-toggle="tooltip" data-placement="bottom" title="Archive">
          <fa-icon [icon]="faBox"></fa-icon>
        </button>
        <button (click)="activateAsset(asset);" *ngIf="isArchive" class="btn btn-dark" type="button"
          data-toggle="tooltip" data-placement="bottom" title="Activate">
          <fa-icon [icon]="faBoxOpen"></fa-icon>
        </button>
      </td>
    </tbody>
  </table> -->
  <br />
  <div class="float-right">
    <button style="margin-right: 5px;" (click)="navigateToDashboard()" type="button" class="btn btn-secondary ">
      Back to Dashboard
    </button>
    <button style="margin-right: 5px;" *ngIf="!isArchive" (click)="getArchivedAssets()" type="button"
      class="btn btn-dark " data-toggle="tooltip" data-placement="bottom" title="View Archived Assets">
      View Archive
    </button>
    <button style="margin-right: 5px;" *ngIf="isArchive" (click)="getActiveAssets()" type="button" class="btn btn-dark "
      data-toggle="tooltip" data-placement="bottom" title="View Active Assets">
      View Active
    </button>
    <button (click)="navigateToCreateAsset()" *ngIf="!isArchive" type="button" class="btn btn-primary ">
      Add Asset
    </button>
  </div>
