<div class="container col-4" style="border: 1px solid #cecece; padding: 25px;">
  <div id="formContent">
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <input formControlName="email" type="text" id="email" class="form-control text-center" name="email"
        placeholder="Email" style="margin-bottom: 5px;" />
      <input formControlName="password" type="password" id="password" class="form-control text-center" name="password"
        placeholder="Password" style="margin-bottom: 5px;" />
      <input [disabled]="!loginForm.valid" type="submit" class="btn btn-success float-right" value="Log In" />
    </form>

    <!-- TODO: Set up email registration -->
    <div id="formFooter">
      <div>
        <a class="underlineHover" href="#/forgot-password">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
