<div class="container">
  <form [formGroup]="orgForm" (ngSubmit)="onSubmit(orgForm)">
    <div class="form-group">
      <label for="formGroupExampleInput">Organization Name</label>
      <input formControlName="name" type="text" class="form-control" id="formGroupExampleInput" />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Description</label>
      <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="file">Choose File</label>
      <input
        formControlName="file"
        type="file"
        id="file"
        class="form-control-file"
        (change)="handleFileInput($event.target.files)"
      />
    </div>
    <button class="btn btn-primary float-right" type="submit">Submit</button>
  </form>
</div>
