<div class="container col-6">
  <form [formGroup]="orgForm" (ngSubmit)="onSubmit(orgForm)">
    <div class="form-group">
      <label for="orgName">Organization Name</label>
      <input formControlName="name" type="text" class="form-control" id="orgName"
        placeholder="Enter in an organization name" />
    </div>
    <button [disabled]="!orgForm.valid" class="btn btn-primary float-right" type="submit" data-toggle="tooltip"
      data-placement="bottom" title="Submit Data">
      Submit
    </button>
    <button (click)="navigateToDashboard()" class="btn btn-secondary float-right" type="button"
      style="margin-right: 5px" data-toggle="tooltip" data-placement="bottom" title="Back to Dashboard">
      Back to Dashboard
    </button>
  </form>
</div>
