<div class="col-4 mx-auto">
  <form [formGroup]="assetForm" (ngSubmit)="onSubmit(assetForm)">
    <div class="form-group">
      <label for="assetName">Asset Name</label>
      <input formControlName="name" type="text" class="form-control" id="assetName" placeholder="Enter in an asset name" />
    </div>
    <button [disabled]="!assetForm.valid" 
    class="btn btn-primary float-right" 
    type="submit"
    data-toggle="tooltip" 
    data-placement="bottom" 
    title="Submit">
      Submit
    </button>
    <button (click)="navigateToAssets()" 
    class="btn btn-secondary float-right" 
    type="submit" 
    style="margin-right: 5px"
    data-toggle="tooltip" 
    data-placement="bottom" 
    title="Back to Assets">
      Back to Assets
    </button>
  </form>
</div>
