<div class="container col-12 col-md-4">
  <p-card  id="formContent">
    <form [formGroup]="pwdResetForm" (ngSubmit)="onSubmit(pwdResetForm)">
      <input
        formControlName="password"
        type="password"
        id="password"
        class="form-control"
        name="password"
        placeholder="Password"
        style="margin-bottom: 5px;"
      />
      <input
        formControlName="confirmPassword"
        type="password"
        id="confirmPassword"
        class="form-control"
        name="confirmPassword"
        placeholder="Confirm Password"
        style="margin-bottom: 5px;"
        pInputText
      />
      <input
        [disabled]="!pwdResetForm.valid"
        type="submit"
        class="btn btn-success float-right"
        value="Reset"
        pInputText
      />
    </form>

    <div id="formFooter">
      <div>
        <a class="underlineHover" href="#/login">Return to login</a>
      </div>
    </div>
  </p-card>
</div>
