.btn-primary {
  background-color: #ae0a0a;
  border-color: #ae0a0a;
  color: #fff !important;
}

.btn-primary:hover {
  color: #910a0a;
  background-color: #910a0a !important;
  color: #fff;
  border-color: #ae0a0a;
}

.btn-primary:active {
  color: #fff;
  background-color: #910a0a !important;
  border-color: #ae0a0a;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #ae0a0a;
  border-color: #ae0a0a;
}

h3 {
  color: 'grey';
}

body {
  padding-bottom: 120px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 114px;
}
