@import "~@ng-select/ng-select/themes/default.theme.css";

@import "./assets/theme/button.scss";

.btn-primary.p-button,
.btn-primary {
  background-color: #ae0a0a;
  border-color: #ae0a0a;
  color: #fff !important;
}

.btn-secondary.p-button,
.btn-secondary {
  color: #fff;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.btn-warning.p-button,
.btn-warning {
  color: #fff;
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.btn-primary.p-button:hover,
.btn-primary:hover {
  color: #910a0a;
  background-color: #910a0a !important;
  border-color: #ae0a0a !important;
}

.btn-primary.p-button:active,
.btn-primary {
  background-color: #910a0a !important;
}
.btn-primary.p-button:focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #910a0a40 !important;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #ae0a0a;
  border-color: #ae0a0a;
}

h3 {
  color: "grey";
}

body {
  padding-bottom: 120px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 114px;
}

.ng-valid[required],
.ng-invalid:not(form) {
  border-left: 5px solid #ae0a0a; /* red */
}

.card {
  margin-top: 10px;
}
