<div class="container-fluid col-6">
  <form [formGroup]="vulnForm" name="vulnForm" (ngSubmit)="onSubmit(vulnForm)" class="mx-auto">
    <div>
      <label for="name">Vulnerability Name</label>
      <input formControlName="name" type="text" class="form-control form-control-sm" id="name" />
      <div *ngIf="vulnForm.controls['name'].errors && !vulnForm.controls['name'].pristine" class="alert alert-danger">
        Vulnerability name is required
      </div>
    </div>
    <div class="form-row">
      <div class="col-4">
        <label for="status">Status</label>
        <select formControlName="status" class="form-control form-control-sm" id="status">
          <option>Open</option>
          <option>Resolved</option>
          <option>On Hold</option>
        </select>
        <div *ngIf="vulnForm.controls['name'].errors && !vulnForm.controls['name'].pristine" class="alert alert-danger">
          Vulnerability name is required
        </div>
      </div>
      <div class="col-4">
        <label for="name">Jira ID</label>
        <input formControlName="jiraId" type="text" class="form-control form-control-sm" id="jiraId" />
        <div
          *ngIf="vulnForm.controls['name'].errors && !vulnForm.controls['jiraId'].pristine"
          class="alert alert-danger"
        >
          Jira ticket is required
        </div>
      </div>
      <div class="col-4">
        <label for="systemic">Systemic</label>
        <select formControlName="systemic" class="form-control form-control-sm" id="systemic">
          <option>Yes</option>
          <option>No</option>
        </select>
        <div
          *ngIf="vulnForm.controls['systemic'].errors && !vulnForm.controls['systemic'].pristine"
          class="alert alert-danger"
        >
          Systemic value is required
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-4">
        <label for="impact">Impact</label>
        <select formControlName="impact" class="form-control form-control-sm" id="impact">
          <option>High</option>
          <option>Medium</option>
          <option>Low</option>
        </select>
        <div
          *ngIf="vulnForm.controls['impact'].errors && !vulnForm.controls['impact'].pristine"
          class="alert alert-danger"
        >
          Impact is not valid
        </div>
      </div>
      <div class="col-4">
        <label for="likelihood">Likelihood</label>
        <select formControlName="likelihood" class="form-control form-control-sm" id="likelihood">
          <option>High</option>
          <option>Medium</option>
          <option>Low</option>
        </select>
        <div
          *ngIf="vulnForm.controls['likelihood'].errors && !vulnForm.controls['likelihood'].pristine"
          class="alert alert-danger"
        >
          Likelihood is not valid
        </div>
      </div>
      <div class="col-4">
        <label for="risk">Risk</label>
        <select formControlName="risk" class="form-control form-control-sm" id="risk">
          <option>Critical</option>
          <option>High</option>
          <option>Medium</option>
          <option>Low</option>
          <option>Informational</option>
        </select>
        <div *ngIf="vulnForm.controls['risk'].errors && !vulnForm.controls['risk'].pristine" class="alert alert-danger">
          Risk not valid
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-6">
        <label for="cvssScore">CVSS Score</label>
        <input formControlName="cvssScore" type="text" class="form-control form-control-sm" id="cvssScore" />
        <div
          *ngIf="vulnForm.controls['cvssScore'].errors && !vulnForm.controls['cvssScore'].pristine"
          class="alert alert-danger"
        >
          CVSS Score is not valid
        </div>
      </div>
      <div class="col-6">
        <label for="cvssUrl">CVSS URL</label>
        <input formControlName="cvssUrl" type="text" class="form-control form-control-sm" id="cvssUrl" />
        <div
          *ngIf="vulnForm.controls['cvssUrl'].errors && !vulnForm.controls['cvssUrl'].pristine"
          class="alert alert-danger"
        >
          CVSS URL is not valid
        </div>
      </div>
    </div>
    <br />
    <div formArrayName="problemLocations">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Problem Location</th>
            <th scope="col">Target</th>
            <th>
              <button class="btn btn-primary" type="button" (click)="addProbLoc()">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let probLoc of probLocArr.controls; let i = index" [formGroupName]="i">
          <tr>
            <td><input formControlName="location" class="form-control" /></td>
            <td><input formControlName="target" class="form-control" /></td>
            <td>
              <button class="btn btn-secondary" type="button" (click)="deleteProbLoc(i)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
      <div
        *ngIf="vulnForm.controls['description'].errors && !vulnForm.controls['description'].pristine"
        class="alert alert-danger"
      >
        Description is not valid
      </div>
    </div>
    <div>
      <label for="detailedInfo">Detailed Information</label>
      <textarea formControlName="detailedInfo" class="form-control" id="detailedInfo" rows="3"></textarea>
      <div
        *ngIf="vulnForm.controls['detailedInfo'].errors && !vulnForm.controls['detailedInfo'].pristine"
        class="alert alert-danger"
      >
        Detailed information is not valid
      </div>
    </div>

    <div>
      <label for="remediation">Remediation</label>
      <textarea formControlName="remediation" class="form-control" id="remediation" rows="3"></textarea>
      <div
        *ngIf="vulnForm.controls['remediation'].errors && !vulnForm.controls['remediation'].pristine"
        class="alert alert-danger"
      >
        Remediation information is not valid
      </div>
    </div>
    <br />
    <div formArrayName="resourceLocations">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Resource URL</th>
            <th>
              <button class="btn btn-primary" type="button" (click)="addResLoc()">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let resLoc of resLocArr.controls; let i = index" [formGroupName]="i">
          <tr>
            <td><input formControlName="resURL" class="form-control" /></td>
            <td>
              <button class="btn btn-secondary" type="button" (click)="deleteResLoc(i)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>    
    <div>
      <label for="screenshot">Screenshot Upload</label>
      <input
        name="screenshots"
        type="file"
        class="form-control-file"
        id="screenshots"
        (change)="handleFileInput($event.target.files)"
        multiple
        enctype="multipart/form-data"
      />
      <div *ngFor="let screenshot of tempScreenshots">
        <span>
          <a [href]="screenshot.url" target="_blank">{{ screenshot?.file?.name }}</a>
          <a><fa-icon (click)="deleteScreenshot(screenshot)" [icon]="faTrash"></fa-icon></a>
        </span>
      </div>
    </div>
    <br />
    <button (click)="navigateToVulnerabilities()" type="button" class="btn btn-secondary float-right">
      Back to Vulnerabilities
    </button>
    <button [disabled]="!vulnForm.valid" type="submit" class="btn btn-primary float-right" style="margin-right: 5px;">
      Submit
    </button>
  </form>
</div>
