<div class="container-fluid">
  <p-table #assessmentTable [value]="assessmentAry" [columns]="cols" [paginator]="true" [rows]="10"
    styleClass="p-datatable-striped">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th scope="col"></th>
      </tr>

      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input *ngSwitchCase="'id'" pInputText type="text" placeholder="Search by ID" class="p-column-filter"
            (input)="assessmentTable.filter($event.target.value, col.field, col.filterMatchMode)">

          <input *ngSwitchCase="'name'" pInputText type="text" placeholder="Search by Name" class="p-column-filter"
            (input)="assessmentTable.filter($event.target.value, col.field, col.filterMatchMode)">

          <p-multiSelect *ngSwitchCase="'testers'" placeholder="All" styleClass="p-column-filter" optionLabel="name"
            [options]="testers" (onChange)=" assessmentTable.filter($event.value, col.field, col.filterMatchMode)">
          </p-multiSelect>

          <input *ngSwitchCase="'jiraId'" pInputText type="text" placeholder="Search by Jira ID" class="p-column-filter"
            (input)="assessmentTable.filter($event.target.value, col.field, col.filterMatchMode)">

          <p-calendar *ngSwitchCase="'startDate'" styleClass="p-column-filter" placeholder="Start Date"
            dateFormat="m-d-yy" [readonlyInput]="true" [showButtonBar]="true"
            (onSelect)="onDateSelect($event, 'startDate')"
            (onClearClick)="assessmentTable.filter('', col.field, col.filterMatchMode)"></p-calendar>

          <p-calendar *ngSwitchCase="'endDate'" styleClass="p-column-filter" placeholder="End Date" dateFormat="m-d-yy"
            [readonlyInput]="true" [showButtonBar]="true" (onSelect)="onDateSelect($event, 'endDate')"
            (onClearClick)="assessmentTable.filter('', col.field, col.filterMatchMode)"></p-calendar>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-assessment let-columns="columns">
      <tr>
        <td scope="row">{{ assessment.id }}</td>
        <td>{{ assessment?.name }}</td>
        <td>
          <div *ngFor="let tester of assessment.testers; let last = last">
            {{tester?.firstName}} {{tester?.lastName}}<span *ngIf="!last">,</span>
          </div>
        </td>
        <td>
          <a target="_blank" [href]="assessment?.jiraId">{{
            assessment?.jiraId
            }}</a>
        </td>
        <td>{{ assessment?.startDate | date: "shortDate":'UTC' }}</td>
        <td>{{ assessment?.endDate | date: "shortDate":'UTC' }}</td>
        <td>
          <button class="btn btn-secondary" type="button" (click)="navigateToAssessmentById(assessment.id)"
            style="margin-right: 10px;" data-toggle="tooltip" data-placement="bottom" title="Edit Assessment">
            <i *ngIf='readOnly' class="pi pi-eye"></i>
            <i *ngIf='!readOnly' class="pi pi-pencil"></i>
          </button>
          <button style="margin-right: 10px;" class="btn btn-primary" type="button"
            (click)="navigateToVulnerability(assessment.id)" data-toggle="tooltip" data-placement="bottom"
            title="View Vulnerabilities">
            <i class="pi pi-ticket"></i>
          </button>
          <button *ngIf="!readOnly" (click)="deleteAssessment(assessment)" class="btn btn-dark" type="button">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button *ngIf="!readOnly" (click)="navigateToAssessment()" type="button" class="btn btn-primary float-right"
    data-toggle="tooltip" data-placement="bottom" title="Create Assessment">
    Create Assessment
  </button>
  <button (click)="navigateToOrganization()" type="button" class="btn btn-secondary float-right"
    style="margin-right: 5px;" data-toggle="tooltip" data-placement="bottom" title="Back to Organization">
    Back to Organization
  </button>
</div>
