<div class="container">
  <div class="row card-group">
    <div class="col-4" *ngFor="let org of orgAry">
      <div class="card text-center" style="margin-top: 10px;">
        <img *ngIf="org.imgUrl" class="card-img-top" [src]="org.imgUrl" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ org.name }}</h5>
          <button (click)="navigateToOrganization(org.id)" class="btn btn-secondary" style="margin-right: 5px;">
            Edit
          </button>
          <button
            *ngIf="!isArchive"
            (click)="archiveOrganization(org)"
            class="btn btn-warning"
            style="margin-right: 5px;"
          >
            Archive
          </button>
          <button
            *ngIf="isArchive"
            (click)="activateOrganization(org)"
            class="btn btn-warning"
            style="margin-right: 5px;"
          >
            Activate
          </button>
          <button (click)="navigateToAsset(org.id)" class="btn btn-primary" style="margin-right: 5px;">
            Assets
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <button (click)="navigateToCreate()" type="button" class="btn btn-primary float-right">
    Add Organization
  </button>
  <button
    style="margin-right: 5px;"
    *ngIf="!isArchive"
    (click)="getArchivedOrganizations()"
    type="button"
    class="btn btn-info float-right"
  >
    View Archive
  </button>
  <button
    style="margin-right: 5px;"
    *ngIf="isArchive"
    (click)="getOrganizations()"
    type="button"
    class="btn btn-info float-right"
  >
    View Active
  </button>
</div>
